appnope==0.1.0
backcall==0.1.0
cycler==0.10.0
decorator==4.3.2
futures==3.1.1
imutils==0.5.2
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.16.0
opencv-python==4.0.0.21
pandas==0.24.1
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
progress==1.4
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
pyspin==1.1.1
python-dateutil==2.7.5
pytz==2018.9
six==1.12.0
terminaltables==3.1.0
traitlets==4.3.2
vidstab==1.5.6
wcwidth==0.1.7
